services:
  pp-downloader:
    build: .
    volumes:
      - ./config:/config
      - ./music:/music
    environment:
      - MUSIC_PARENT_DIR=/music
      - FFMPEG_PATH=/usr/bin/ffmpeg
      - JSON_PATH=/config/playlists.json
      - DB_PATH=/config/downloads.db
      - WATCH_INTERVAL=15m
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pgrep", "pp-downloader"]
      interval: 30s
      timeout: 10s
      retries: 3
